{
  "extends": [
    "wesbos"
  ],
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly",
    "use": true
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules":{
    "class-methods-use-this": "off"
  }
}
